body {
    background-color: #000;
    color: white;
}
.container {
    width: 90%;
    padding: 10px;
}
h1 {
    text-align: center;
}
.name, .image, .day, .time, .track, .link {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
}
p {
    padding-top: 7px;
}
a {
    padding-top: 23px;
}
img {
    width: 150px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        padding: 20px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .container {
        padding: 50px;
    }
}
@media only screen and (min-width: 1440px) and (max-width: 2559px) {
    .container {
        padding: 70px;
    }
    .data {
        padding: 50px;
    }
    h5, p, a {
        font-size: 27px;
    }
}
@media only screen and (min-width: 2560px) and (max-width: 4000px) {
    .container {
        padding: 90px;
    }
    .data {
        padding: 70px;
    }
    h5, p, a {
        font-size: 30px;
    }
}
